
#map { 
    position: absolute ;
    top:40px;
    right: 0px;
    bottom: 0px;
    left: 0px ;
    
}
#pops{
    
   
    
    z-index: 1;
}
#login{
    background:url(../img/fondo.png);
}
.logo{
	width:auto;
	height:176px;
	background:url(../img/logosmall.png) top no-repeat;
	
	}